@charset "utf-8";

@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";
@import "sass/custom/all";
@import "../lib/bulma-extensions/index";

body{
  height: 100vh;
}
header{
  h2{
    text-shadow: 1px 1px 3px black(.1);
  }
}
.logo{
  width: 150px;
  height: 36px;
}
.cur_pointer{
  cursor: pointer;
}
.bdb_light {
  border-bottom: 1px solid #a7a9ac;
}
.bdb_f5f5f5{
  border-bottom: 1px solid #F5F5F5;
}
.bd_f5f5f5 {
  border: 1px solid #F5F5F5;
}
.bg_4A4A4A{
  background: #4A4A4A;
}
.absolute-full{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.over_hidden{
  overflow: hidden;}
.box{
  .columns {
    margin-bottom: 0 !important;
  }
  .dropdown{
    .button{
      background: #4A4A4A;
      border: 1px solid #B5B5B5;
    }
  }
  &.straighten{
    i{
      position: relative;
      z-index: 1;
    }
    .values{
      margin: 2px;
      padding: 5px;
      border: 1px solid white(.5);
      background: #4A4A4A;
    }
    input{
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      display: inline;
      width: 20px;
      color: whitesmoke;
      font-size: 1rem;
    }
    .value{
      left: 0;
      top: 5px;
      position: absolute;
      width: 100%;
    }
  }
}
.operation-area{
  height: 100vh;
  .button-save-view{
    background: $black;
    color: $grey-light;
    border: none;
    left: 2px;
    top: 2px;
    position: absolute;
    z-index: 2;
  }
  .notification-warning{
    position: absolute;
    z-index: 2;
    left: 120px;
    top: 10px;
  }
  .button-bottom-area{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
  }
}
.layout-box{
  .box{
    position: relative;
  }
  .cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black(.2);
    display: none;
  }
  .thumb{
    width: 80px;
    height: 80px;
    overflow: hidden;
    img{
      width: 80px;
      height: 80px;
      border-radius: 4px;
    }
  }
}
.collapse-box{
  .content{
    background: $grey-dark;
  }
}
.bdb_dark{
  border-bottom: 1px solid $grey-dark;
}
.color-box{
  width: 30px;
  height: 30px;
}
.color-picker{
  height: 30px;
  line-height: 30px;
  position: relative;
  .texture-area{
    width: 310px;
  }
  .colorPicker, .texture-area{
    position: absolute;
    left: -320px;
    top: 0;
    z-index: 999;
    display: none;
  }
  .arrow{
    width: 15px;
    height: 30px;
  }
}
.tabs{
  ul{
    margin: 0 !important;
  }
  li{
    margin-top: 0 !important;
  }
}
.main-tabs{
  a{
    border-radius: 0 !important;
  }
}
.operation-area{
  .badge{
    position: absolute;
    z-index: 999;
  }
  .tag-area{
    position: absolute;
    z-index: 999;
    background: black(.4) !important;
    input, textarea{
      background: black(.3) !important;
    }
  }
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.model-dropdown-button{
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.search-input{
  .input.is-small, .textarea.is-small{
    border-radius: 290486px !important;
  }
}
.working-station-area{
  img{
    transition: all .3s;
    &:hover{
      opacity: .75;
    }
  }
}
.model-card-title{
  height: 43px;
  overflow: hidden;
}
.model-upload-card{
  padding: 2px 0 1px 0;
}
.side-title{
  width: 180px;
  height: 17px;
  display: block;
}
